*
{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family:'poppins', sans-serif;
}
body{
  background: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.container{
  position: relative;
  width: 100%;
  max-width: 1000px;
  min-height: 1000px;
  background:black;
  margin: 50px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  box-shadow: 0 35px 55px rgba(0,0,0,0.1);
}
.container .left_side{
  position: relative;
  background: rgb(235, 235, 235);
  padding: 40px;
}
.profiletext{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.profiletext .imgbx{
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}
.profiletext .imgbx img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.profiletext h2{
  color:black;
  font-size: 1.5em;
  margin-top: 20px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  line-height: 1.4em;
}
.profiletext h2 span{
  font-size: 0.8em;
  font-weight: 300;
}
.contactinfo{
  padding-top: 40px;
}
.title{
  color: black;
  text-align: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgb(7, 0, 0);
}
.contactinfo ul{
  position: relative;
}
.contactinfo ul li{
  position: relative;
  list-style: none;
  margin: 10px 0;
  cursor: pointer;
}
.contactinfo ul li .icon{
  color:black;
}
.contactinfo ul li span{
  color:black;
  font-weight: 300;
}
.contactinfo.language .percent{
  position: relative;
  width: 100%;
  height: 6px;
  background:#081921;
  display: block;
  margin-top: 5px;
}
.contactinfo.language .percent div{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: rgb(221, 35, 35);
}







.container .right_side{
  position: relative;
  background: #fff;
  padding: 40px;
}
.about{
  margin-bottom: 50px;
}
.about:last-child{
  margin-bottom:0 ;
}
.title2{
  color:#003147 ;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.896);
}
p{
  color: black;
}
.about .box{
  display: flex;
  flex-direction: row;
  margin:20px 0;
}

.about .box .year{
 min-width: 150px;
}
.bar {
  list-style: none;
}
.bar >li {
  position: relative;
}
.bar>li:before {
  content: '\25CF';
  margin-right: 10px;
  font-size: 20px;
  color:black;
  margin-top: auto;
  margin-bottom: auto;
  position: relative;
  z-index: 8;
  bottom: 5px;

}
.bar>li:after {
  position: absolute;
  left: 0;
  top: 10px;
  bottom: 0;
  content: '';
  border-left: 2px solid red;
  margin-left: 5px;
  height: 8.5rem;
}
.reference{
  position: relative;
  width: 100%;
  display: grid;
}

